<div class="container tabs-demo">
    <div class="col-lg-12 col-md-12 padding-none">
        <h1>developing a tabs component with Angular4+</h1>
    </div>
    <div class="col-lg-12 col-md-12 padding-none">
        <app-tabs>
            <app-tab [title]="'Angular 5'">
                <div class="col-lg-12 col-md-12 padding-none content-panel">
                    <p>Good tools make application development quicker and easier to maintain than if you did everything by hand. The Angular CLI is a command line interface tool that can create a project, add files, and perform a variety of ongoing development
                        tasks such as testing, bundling, and deployment. The goal in this guide is to build and run a simple Angular application in TypeScript, using the Angular CLI while adhering to the Style Guide recommendations that benefit every
                        Angular project. By the end of the chapter, you'll have a basic understanding of development with the CLI and a foundation for both these documentation samples and for real world applications.
                    </p>
                    <a class="btn-custom" href="https://angular.io/" target="_blank">
                  Learn more...
                </a>
                </div>
            </app-tab>
            <app-tab [title]="'Angular JS'">
                <div class="col-lg-12 col-md-12 padding-none content-panel">
                    <p>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily
                        expressive, readable, and quick to develop.Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript or by providing an imperative way for manipulating the DOM. Neither of these address
                        the root problem that HTML was not designed for dynamic views.AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature
                        can be modified or replaced to suit your unique development workflow and feature needs.
                    </p>
                    <a class="btn-custom" href="https://angularjs.org/" target="_blank">
                  Learn more...
                </a>
                </div>
            </app-tab>
            <app-tab [title]="'React JS'">
                <div class="col-lg-12 col-md-12 padding-none content-panel">
                    <p>React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes. Declarative views make your code
                        more predictable and easier to debug.Build encapsulated components that manage their own state, then compose them to make complex UIs. Since component logic is written in JavaScript instead of templates, you can easily pass rich
                        data through your app and keep state out of the DOM.We don’t make assumptions about the rest of your technology stack, so you can develop new features in React without rewriting existing code. React can also render on the server
                        using Node and power mobile apps using <a href="https://facebook.github.io/react-native/" target="_blank">React Native</a>.
                    </p>
                    <a class="btn-custom" href="https://reactjs.org/" target="_blank">
                  Learn more...
                </a>
                </div>
            </app-tab>
            <app-tab [title]="'React Native'">
                <div class="col-lg-12 col-md-12 padding-none content-panel">
                    <p>React Native lets you build mobile apps using only JavaScript. It uses the same design as React, letting you compose a rich mobile UI from declarative components.With React Native, you don't build a "mobile web app", an "HTML5 app",
                        or a "hybrid app". You build a real mobile app that's indistinguishable from an app built using Objective-C or Java. React Native uses the same fundamental UI building blocks as regular iOS and Android apps. You just put those
                        building blocks together using JavaScript and React.React Native lets you build your app faster. Instead of recompiling, you can reload your app instantly. With Hot Reloading, you can even run new code while retaining your application
                        state.
                    </p>
                    <a class="btn-custom" href="https://facebook.github.io/react-native/" target="_blank">
                  Learn more...
                </a>
                </div>
            </app-tab>
            <app-tab [title]="'Ionic'">
                <div class="col-lg-12 col-md-12 padding-none content-panel">
                    <p>The top open source framework for building amazing mobile apps. Ionic is the beautiful, free and open source mobile SDK for developing native and progressive web apps with ease.Ionic Framework is a 100% free and open source project,
                        licensed under MIT. It will always remain free to use, powered by a massive world-wide community.Build progressive web and native mobile apps for every major app store, with one codebase. Ionic works and looks beautiful wherever
                        it runs.Use over 120 native device features like Bluetooth, HealthKit, Finger Print Auth, and more with Cordova/PhoneGap plugins and TypeScript extensions.Built with real app examples, component demos, guides, and how-to’s to get
                        you up and running with mobile apps faster than ever before.
                    </p>
                    <a class="btn-custom" href="https://ionicframework.com/" target="_blank">
                  Learn more...
                </a>
                </div>
            </app-tab>
        </app-tabs>
    </div>
</div>