/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 50px;
    font-family: "Fira Sans", "Segoe UI", "Helvetica Neue", Helvetica, Roboto, 'Open Sans', FreeSans, sans-serif !important;
}

// Common Styles
.padding-none {
    padding: 0!important;
}

.padding-right-none {
    padding-right: 0!important
}

.padding-left-none {
    padding-left: 0!important
}

.padding-top-none {
    padding-top: 0!important
}

.padding-bottom-none {
    padding-bottom: 0!important
}

.margin-none {
    margin: 0!important;
}

.margin-right-none {
    margin-right: 0!important
}

.margin-left-none {
    margin-left: 0!important
}

.margin-top-none {
    margin-top: 0!important
}

.margin-bottom-none {
    margin-bottom: 0!important
}

.padding-10 {
    padding: 10px;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}


/* Tablets, iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}


/* Tablets, iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}


/* Tablets, iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}


/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}